<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Greeting App</title>
    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
    <div class="container"></div>
    <!-- <script type="text/javascript" src="/libs/underscore/underscore-min.js"></script> -->
  </body>
</html>
